.particles {
    height: 100vh;
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.particles div:first-child {
    height: 100%;
    width: 100%;
    display: flex;
}

.particles .info {
    position: absolute;
    z-index: 5;
    color: white;
}

.particles h1 {
    font-size: 64px;
    font-weight: 700;
    line-height: 56px;
}

.particles p {
    font-size: 26px;
    display: flex;
    column-gap: 10px;
}

.particles p span {
    text-decoration: underline;
    text-decoration-color: var(--color-default);
}